{{define "body"}}
{{if .Members}}
	<form method="post" action="boot">
	<table class="table table-hover">
	{{range .Members}}
	<tr>
		<td class="col-md-1">
			<input type="hidden" name="kicked" value="{{.Id}}">
			<button type="button" onclick="CCPEVE.showInfo(1377, {{.Id}})">Info</button>
		</td>
		<td class="col-md-2">
			{{.Name}}
		</td>
		<td class="col-md-2">
			{{datetime .LastLogin}} 
		</td>
		<td class="col-md-3">
			{{.Reason}} 
		</td>
		<td class="col-md-3">
			Joined {{datetime .Joined}}
		</td>
	</tr>
	{{end}}
	</table>
	<button type="submit" name="claim" value="complete">Confirm Complete</button>
	<button type="submit" name="claim" value="victims">Confirm and Claim Victims</button>
	</form>
{{else}}
<div class="center-block text-center well">
	<form method="post" action="boot">
		<input type="hidden" name="claim" value="victims">
		<button type="submit">Claim Some Victims</button>
	</form>
</div>
{{end}}
{{end}}
